@import "foundation/common/ratios";

// Settings file containing Foundation defaults

// Grid Settings

	$rowWidth: 1040px;
	$columnGutter: 40px;
// $totalColumns: 12;
// $mobileTotalColumns: 4;

// Text Direction Settings

// $textDirection: ltr; // Controls default global text direction, 'rtl' or 'ltr'

// Colors Settings

	$mainColor: #ac831e;
// $secondaryColor: #e9e9e9;
// $alertColor: #c60f13;
// $successColor: #5da423;
// $txtColor: #222;
// $highlightColor: #ffff99;
// $black: #000;
// $white: #fff;
// $shinyEdge: rgba(#fff, .5);
// $darkEdge: rgba(#000, .2);

// Typography Settings

	$bodyFontFamily: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	$headerFontWeight: bold;
	$bodyFontFamily: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	$bodyFontWeight: normal; 

// Button Settings

// $buttonRadius: 3px;
// $btnBase: 10px;

// $tinyBtnBase: $btnBase - 5;
// $smallBtnBase: $btnBase - 3;
// $largeBtnBase: $btnBase + 5;

// Form Settings

// $formSpacing: 12px;

// Tab Settings

// $tabHeight: 40px;

// Nav Bar Settings

// $navBarHeight: 40px;
// $navFlyoutBaseWidth: 250px;

// UI Settings

// $thumbRadius: 3px;

// $progBarHeight: 25px;
// $progBarBorderColor: darken($white, 20%);
// $progBarBorderSize: 1px;
// $progBarPad: 2px;

// Modular Scale

// $ratio: $golden;
// $baseFontSize: 14px;
// $importantModNum: 44px;

// Tooltip Settings

// $hasTipBorderBottom: dotted 1px #ccc;
// $hasTipFontWeight: bold;
// $hasTipFontColor: #333;
// $hasTipBorderBottomHover: dotted 1px darken($mainColor, 20%);
// $hasTipFontColorHover: $mainColor;
// $tooltipBackgroundColor: #000;
// $tooltipBackgroundOpacity: 0.85;
// $tooltipFontSize: 12;
// $tooltipFontWeight: bold;
// $tooltipFontColor: #fff;
// $tapToCloseFontSize: 10;
// $tapToCloseFontWeight: normal;
// $tapToCloseFontColor: #888;
// $tooltipFontSizeScreenSmall: 14;
// $tooltipBackgroundOpacityScreenSmall: 0.85;

// Top Bar Settings

// $topBarBgColor: #222;
// $topBarHeight: 45px;
// $topBarBtmMargin: 30px;
// $topBarTitleWeight: bold;
// $topBarTitleSize: ms(1);
// $topBarLinkColor: $white;
// $topBarLinkWeight: bold;
// $topBarLinkSize: ms(0) - 1;
// $topBarDropToggleSize: 5px;
// $topBarSearchWidth: 200px;
// $topBarBreakPoint: 940px; // Change to 9999px for always mobile layout
// $topBarNavToggleSize: 8px;