// File Contents: find value to jump to location
//
// .001 - Import Partial scss files
// .002 - Headings & Paragraphs
// .003 - Site Grid Values, adjust grid layout here
// .004 - Header & Nav
// .005 - Page / Post Layout
// .010 - WordPress Core CSS'
//


// .001 =================
// import bones normalize
@import "normalize";

// import bones mixins
@import "mixins";

// styles in bones base.scss
@import "base";

// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation"; 


// .002 =================
h1 {
	font-size: 28px;
	line-height: 1.25em;
	margin-bottom: 0;
}

h2 {
	font-size: 24px;
	line-height: 1.25em;
}

h3 {
	font-size: 20px;
}

h4  {
	font-size: 16px;
	font-weight: 700;
}

h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
p {
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 18px;
}


// .003 =================
// ======================
// SITE GRID
// Use this area to adjust Column Layouts for each area of the site. It keeps the html clean,
// and allows us to use sass to take care of the column numbers.
// ======================
.logo {
	@include column(4);
	@include mobileColumn(4);
}
nav.main-nav {
	@include column(8);
	@include mobileColumn(4);
}
#primary {
	@include column(8);
}
.custom_page_main {
	@include column(8);
}
aside#secondary {
	@include column(4);
} 

// .004 ====================
// =========================
// HEADER ==================
// =========================
header.site-header {
	background: #f5f5f5;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	.logo {
	}
	nav.main-nav {
		ul.nav-bar {
			li {
			}
		}
	}
	.nav {
		border: none;
	}
	.nav-bar {
		font-weight: normal;
		background: transparent;
		padding: 0;
		margin-top: 60px;
		>li {
			border: none;
			border-radius: 5px;
			>a {
				color: $mainColor;
				text-transform: uppercase;
				font-weight: 400;
				color: #333333;
				border-radius: 5px;
			}
			>a:hover {
				background: #ffffff;
			}
			&.current-menu-item {
				a {
					background: #444444;
					color: #f9c441;
				}
			}
		}
	}
}

.post_main {
	article.view {
	}
}
aside#secondary {
	margin-top: 20px;
	color: #777777;
	.widget {
		margin-bottom: 40px;
	}
	h4 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 12px;
	}
}

footer.site-footer {
	background: #f5f5f5;
	padding-top: 20px;
	padding-bottom: 20px;
	nav.foot-nav {
		
	}
}

// .005 ==================
// =======================
// POST/PAGE LAYOUT ======
// =======================
#primary {
	article {
		margin-bottom: 50px;
	}
}
header.article-header {
	p.byline {
		font-size: 14px;
		margin-bottom: 10px;
	}
}

// .010 ==================
// =======================
// WORDPRESS CORE CSS ====
// =======================
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
a {
	img.alignright {
 		float: right;
 		margin: 5px 0 20px 20px;
	}
}
a {
	img.alignnone {
    margin: 5px 20px 5px 0;
  }
}
a {
	img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
  }
}
a {
	img.aligncenter {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	}
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption {
	img {
	  border: 0 none;
	  height: auto;
	  margin: 0;
	  max-width: 98.5%;
	  padding: 0;
	  width: auto;
	}
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}


